body {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://bit.ly/2E3scwW);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b3b3b3;
  background-blend-mode: multiply;
}
body .logo {
  position: absolute;
  align-self: flex-start;
  left: 10px;
}
body .logo img {
  height: 75px;
  width: auto;
}
body .login {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  width: 300px;
  height: 400px;
  padding: 60px 68px 40px;
}
body .login__title {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}
body .login__group {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: flex;
}
body .login__group__label {
  position: absolute;
  z-index: 150;
  color: #b3b3b3;
  font-size: 0.9rem;
  top: 30px;
  left: 18px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
body .login__group__input {
  width: 100%;
  position: relative;
  z-index: 100;
  background: #333;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  opacity: 1;
  font-size: 1rem;
  color: #fff;
  line-height: 50px;
  padding: 12px 18px 0;
}
body .login__group__input:focus + .login__group__label {
  top: 15px;
  font-size: 0.7rem;
}
body .login__sign-in {
  margin: 24px 0 12px;
  padding: 16px;
  color: #fff;
  background: #e50914;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body .login__secondary-cta {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
body .login__secondary-cta__text {
  opacity: 1;
  font-size: 0.9rem;
  color: #b3b3b3;
  text-decoration: none;
}
body .login__secondary-cta__text--need-help {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .login__secondary-cta__text--need-help:hover {
  text-decoration: underline;
}

::-webkit-input-placeholder {
  font-size: 0.7rem;
}

::-moz-placeholder {
  font-size: 0.7rem;
}

:-ms-input-placeholder {
  font-size: 0.7rem;
}

::-ms-input-placeholder {
  font-size: 0.7rem;
}

::placeholder {
  font-size: 0.7rem;
}
