/* CSS Copyright © 2020, Charlie McMahon */

*{
  text-decoration: none;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #001011;
}

.top-container{
  background: linear-gradient(259deg, #dcffcc, #9fdfcd, #baabda, #d79abc);
  background-size: 600% 600%;
  -webkit-animation: bgGradient 10s ease infinite;
  -moz-animation: bgGradient 10s ease infinite;
  animation: bgGradient 10s ease infinite;
}

.aboutme{


    background-color: grey;


}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

.profile {

  padding-top: 50px;

}
.profile img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_icon{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  margin-left: 250px;
  margin-top: 12px;
  border-radius: 50%;
}

/* Control the gradient */
@-webkit-keyframes bgGradient {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes bgGradient {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes bgGradient {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    font-family: 'Lato';
    font-size: 30px;
    color: black;
}


.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}


.website-button:hover {
    background-color: #afafaf !important;

}

.name {

  padding-right: 370px !important;
  font-family: 'Courier' !important;

}

/* Large Text */
h1 {
  font-size: 80px;
  color: #001011;
}

/* Smaller text */
p {

  font-family: Courier;
  color: #001011;
}

.top-container {
position: relative;
padding-top: 100px;

}

.top-cloud {
position: absolute;
right: 300px;
top: 150px;
}

.bottom-cloud {
position: absolute;
left: 300px;
bottom: 300px;
}

.no-margin, no-margin2 {
  margin-top: 0;
  margin-bottom: 0;
}


.no-margin2 {
  height: 70px;
}


.skill-row{
    width: 50%;
    margin: auto;

}

.heading {
  font-size: 3rem;
  font-family: 'Shadows Into Light', cursive;
}
.text {
  font-size: 1rem;
  font-family: 'Lato';
  padding-bottom: 20px;
}
.list-text {
  font-size: 1rem;
  font-family: 'Lato';
}
.subheading {

  font-size: 2rem;
  font-family: 'Lato';

}
.middle-container{

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(220,255,204,1) 100%);

}

.bottom-container{

  background-color: #9fdfcd;

}
.btn {
	box-shadow: 3px 4px 0px 0px #9fdfcd;
	background:linear-gradient(to bottom, #9fdfcd 5%, #9fdfcd 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-bottom: 150px;
}
.btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.btn:active {
	position:relative;
	top:1px;
}

.heading{

  margin-top: 100px;

}
.footer-link{

  font-size: 1.23rem;
  font-weight: bold;
  font-family: 'Lato';
  padding-bottom: 20px;
  color: #4f3961;

}

hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

/* -- Animated hr -- */

.progress {
  background: rgba(1, 15, 30, 0.1);
  height: 1px;
  overflow: hidden;
  position: relative;
}

.progress::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #111;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 80px;
}

@keyframes progress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}

html {
  scroll-behavior: smooth;
}
